html(lang="en")
    head
        title Slow Loris
        meta(name="viewport" content="width=device-width, initial-scale=1")


        // CUSTOM CSS
        link(rel='stylesheet' href='styles/styles.css')


    body
      div#slow-loris-game
      script(src='/js/phaser.js')
      script(src='/js/easystar.min.js')
      script(src='/js/animated-tiles.js')
      script(src='/js/game.js')

      h2 text
